
<div class = "community-header">
 <div class = "community-name">
  <p><%= @team.name %>ファンコミュニティ</p> 
  <h1><%= @team.name %></h1>
 </div>
</div>

<div class = "community-container">
 <div class = "left-content">
  <div class = "team-info">
   <p><%= image_tag @team.image.url %></p>
   <%= link_to'このコミュニティに参加する' "#", class: 'join-member' %>
   <!-- パス名作成　要 -->
  </div>
   <div class = "member">
    <p>参加者一覧</p>
    <!-- 参加者一覧数を記載 -->
    <a href="#" class="btn member">All members</a>
   </div>
 </div>
 
 <div class = "right-content">
  <p class = "comment">
   <%= @team.name %>ファンのコミュニティです。<br>選手や監督について語り合いましょう。
  </p>
  <ul class = "rule">
　　<p>■ルール</p>
　　<li><%= @team.name %>を応援するコミュニティですので前向きなコメントをお願いします</li>
　　<li>選手や他球団、ユーザーを避難する内容は書かない</li>
　　<li>チケットの売買に関するコメントは書かない</li>
　　<li>著作権違反となる画像はアップしないようにお願いします</li>
  </ul>
  
  <div class = "comment">
   <div class = "latest-topics">
    <p>最新の書き込み</p>
   </div>
   <div class = "all-topics">
    <!-- topic テーブルで全てのトピック一覧を表示 -->
   <%= link_to "トピックス一覧", posts_path(team_id: @team.id), class: "" %>
   <!-- 4/9 team_id を飛ばしている -->
   </div>
   <%= link_to "トピックスを作成する", new_post_path(team_id: @team.id), class: "" %>
  </div>
 </div>
</div>

