<div class = "container">
  <div class = "row">
    <div class = "col-md-7 col-md-offset-2">
      <div class = "meet-desc">
        <td>日持<br><%= @meeting.datetime %></td><br>
        <td>都道府県<br><%= @meeting.prefecture %></td><br>
        <td>場所<br><%= @meeting.place %></td><br>
        <td>締め切り<br><%=@meeting.deadline %></td><br>
        <td>最大人数<br><%= @meeting.member %></td><br>
        <td>タイトル<br><%= @meeting.title %></td><br>
        <td>メッセージ<br><%= @meeting.message %></td><br>
      </div>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col-md-3 col-md-offset-4">
      <div class = "meet-submit">
        <% unless @meeting.meet_paticipates_users.include?(current_user)%>
          <%= form_with model: @meet_paticipate, url: meet_paticipates_path do |form| %>
          <%= form.hidden_field :meeting_id, value: params[:id] %>
          <%= form.submit "申請する", class: "btn-block btn-white" %>
          <% end %>
        <% else %>
          <p>参加申請中です。承認されるまでお待ち下さい</p>
        <% end %>
      </div>
      </div>
    </div>
</div>

