<div class = "container">
  <div class = "row">
    <div class = "col-md-2 text-center">
      <p>企画ユーザー</p>
      <div class = "user-planner">
        <%= image_tag @meeting.user.image.thumb.url %><br>
        <%= @meeting.user.name %>
      </div>
    </div>
    <div class = "col-md-5 col-md-offset-1">
      <div class = "meet-desc">
        <td>日持<br><%= @meeting.datetime.strftime('%Y年 %m月 %d日 %H時 %M分') %></td><br>
        <td>都道府県<br><%= @meeting.prefecture %></td><br>
        <td>場所<br><%= @meeting.place %></td><br>
        <td>締め切り<br><%=@meeting.deadline.strftime('%Y年 %m月 %d日 %H時 %M分') %></td><br>
        <td>最大人数<br><%= @meeting.member %></td><br>
        <td>タイトル<br><%= @meeting.title %></td><br>
        <td>メッセージ<br><%= @meeting.message %></td><br>
      </div>
    </div>
    <div class = "col-md-4 text-left">
      <p class = "member-title text-center">参加ユーザー一覧</p>
      <div class = "application-member">
        <% @meeting.meet_paticipates.each do |meet_paticipate| %>
          <% if meet_paticipate.allowed %>
            <%= image_tag meet_paticipate.user.image.thumb.url %>
            <%= meet_paticipate.user.name %><br>
          <% else %>
            <%= image_tag meet_paticipate.user.image.thumb.url %>
            <%= meet_paticipate.user.name %>
            <span>申請中<span>
          　<% if current_user.id == @meeting.user_id %>
              <%= link_to meet_paticipate_path(id: meet_paticipate.id), method: :patch do %>
                <span class="btn btn-primary">承認</span><br>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col-md-3 col-md-offset-4">
      <div class = "meet-submit">
        <% @participate = false %>
        <% @meeting.meet_paticipates.each do |meet_paticipate| %>
          <% if meet_paticipate.user_id.to_i === current_user.id %>
            <% @participate = true %>
          <% end %>
        <% end %>
        <% if @participate %>
        <% elsif @meeting.user.id != current_user.id && @meeting.meet_paticipates.count < @meeting.member %>
          <%= form_with model: @meet_paticipate, url: meet_paticipates_path do |form| %>
            <%= form.hidden_field :meeting_id, value: params[:id] %>
            <%= form.submit "申請する", class: "btn-block btn-white" %>
           <% end %>
        <% elsif @meeting.user.id != current_user.id && @meeting.meet_paticipates.count == @meeting.member %>
          <p>現在募集を締め切っています</p>
        <% elsif @meeting.user.id == current_user.id && @meeting.meet_paticipates.count < @meeting.member  %>
          <p>申請中ユーザーを確認して承認しよう！</p>
        <% elsif @meeting.user.id != current_user.id && @meeting.meet_paticipates.count < @meeting.member  %> 
          <p>現在申請中です。承認されるまでお待ち下さい</p>
        <% elsif @meeting.user.id == current_user.id && @meeting.meet_paticipates.count == @meeting.member %>
          <p>募集完了です。<br>チャットで話しかけてみよう</p>
        <% end %>
      </div>
     </div>
  </div>
    
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2 text-center">
      <%# if @meeting.user.id == current_user.id || @meet_paticipates == current_user.id %>
      <div class = "chat-room">
        <h4><%= @meeting.user.name %>の部屋</h4>
        <p>チャットで話しかけてみよう</p>
        <div class = "meet_message">
          <%= form_with model: @meetingmessages, url:  meeting_meetingmessages_path(@meeting), local: true do |form| %>
            <%= form.text_area :message, class: "form-control" %>
             <%= form.submit "送信", class: "meet-button" %>
          <% end %>
        </div>
       </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-6 col-md-offset-2">
      <% @meeting.meetingmessages.each do |message| %>
      <div class = "message-author">
        <%= image_tag message.user.image.thumb.url %>
        <%= message.user.name %>
      </div>
      <div class = "message-all" >
        <%= message.message %>
      </div>
      <% end %>
    </div>
     <%# else %>
     <%# end %>
  </div>
</div>
