<div class = "container">
  <div class = "row">
    <div class = "col-md-2">
      <div class = "user-planner">
        <p>企画ユーザー</p>
        <%= image_tag @meeting.user.image.thumb.url %><br>
        <%= @meeting.user.name %>
      </div>
    </div>
    <div class = "col-md-5 col-md-offset-1">
      <div class = "meet-desc">
        <td>日持<br><%= @meeting.datetime.strftime('%Y年 %m月 %d日 %H時 %M分') %></td><br>
        <td>都道府県<br><%= @meeting.prefecture %></td><br>
        <td>場所<br><%= @meeting.place %></td><br>
        <td>締め切り<br><%=@meeting.deadline.strftime('%Y年 %m月 %d日 %H時 %M分') %></td><br>
        <td>最大人数<br><%= @meeting.member %></td><br>
        <td>タイトル<br><%= @meeting.title %></td><br>
        <td>メッセージ<br><%= @meeting.message %></td><br>
      </div>
    </div>
    <div class = "col-md-4">
      <div class = "application-member">
        <p>参加ユーザー一覧</p>
        <% @meeting.meet_paticipates.each do |meet_paticipate| %>
          <% if meet_paticipate.allowed %>
            <%= image_tag meet_paticipate.user.image.thumb.url %>
            <%= meet_paticipate.user.name %><br>
          <% else %>
            <%= image_tag meet_paticipate.user.image.to_s %>
            <%= meet_paticipate.user.name %>
            <p>申請中<p>
          　<% if current_user.id == @meeting.user_id %>
              <%= link_to meet_paticipate_path(id: meet_paticipate.id), method: :patch do %>
                <div class="btn btn-primary">承認</div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col-md-3 col-md-offset-4">
      <div class = "meet-submit">
        <% if @meeting.user.id != current_user.id && @meeting.meet_paticipates.count < @meeting.member %>
          <%= form_with model: @meet_paticipate, url: meet_paticipates_path do |form| %>
            <%= form.hidden_field :meeting_id, value: params[:id] %>
            <%= form.submit "申請する", class: "btn-block btn-white" %>
          <% end %>
        <% elsif @meeting.user.id != current_user.id && @meeting.meet_paticipates.count == @meeting.member %>
          <p>現在募集を締め切っています</p>
        <% elsif @meeting.user.id == current_user.id  %>
          <p>申請中ユーザーを確認して承認しよう！</p>
        <% elsif @meeting.user.id == current_user.id && @meeting.meet_paticipate.count == @meeting.member %>
          <p>チャットで早速話してみよう</p>
        <% end %>
      </div>
     </div>
  </div>
    
  <div class = "row">
    <div class = "col-md-10 col-md-offset-1">
      <div class = "chat-room">
        <h4>chatroom</h4>
       </div>
    </div>
  </div>
</div>

