<div class = "top-wrapper">
 <div class = "top-title">
  <h1>Ballpark.com</h1>
  <p>野球観戦仲間を見つけよう！<br>Ballpark.comは、同じチームのファンを探して一緒に野球観戦出来るマッチングサービスです。<br>新しい野球ファンと繋がろう！<p>
   <div class = "register">
    <% unless logged_in? %>
     <a href = "/signup" class="btn signup">メールアドレスで登録</a>
      <%= link_to 'ログインはこちら', login_path, class: 'btn btn-block btn-white' %>
      <% else %>
     <% end %>
   </div>
 </div>
</div>
<div class="py-5 text-center m-2">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-12 text-center">
        <h1 class="mb-4 text-center m-2">About Ballpark.com</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded w-100" width="100" alt="Card image cap" src="https://s3-ap-northeast-1.amazonaws.com/cs-park/files/dawn.dsc-web.com/blog/5d158b072fd6c.jpg"> </div>
          <div class="col-9">
            <h4>1.プロ野球を通じて仲間と出会える</h4>
            <p class="mb-0">同じファンの友達がいない。そんな時にBollpark.comで新しい仲間と出会おう。</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded w-100" width="100" alt="Card image cap" src="https://data.nttdocomo.co.jp/tabmo/assets_c/2017/12/A6_1-2-thumb-690x426-716.jpg"> </div>
           <div class="col-9">
             <h4>3.イベントを利用しよう</h4>
             <p class="mb-0">観戦イベントやオフ会イベントに積極的に参加してみよう</p>
           </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded w-100" width="100" alt="Card image cap" src="http://minto.tech/wp-content/uploads/2016/11/1d5739bdfb4bc8194dc377a16c052be7_s1.jpg"> </div>
          <div class="col-9">
            <h4>2.球団コミュニティでトピックスを呟こう</h4>
            <p class="mb-0">各球団コミュニティで好きな選手の紹介など自由に利用できます。</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded" width="100" alt="Card image cap" src="https://d1f5hsy4d47upe.cloudfront.net/0c/0c9af0620e006a1669ebbeaf6ef1b92c_t.jpeg"> </div>
          <div class="col-9">
            <h4>4.新しい仲間たちと出会おう</h4>
            <p class="mb-0">球団の垣根を超えて色んな仲間達と繋がろう！</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5">
  <div class="container">
  <%# if logged_in? %>
   <h2 class = "community">コミュニティ一覧</h2>
   <div class="row h-30 ">
     <% @teams.each do |team| %>
     <div class="col-md-4 text-center pb-1">
       <h4><%= team.name %></h4>
       <p><%= image_tag team.image.url %></p>
       <p><%= link_to "コミュニティを見る", team_path(id: team.id),  class: "btn team" %></p>
     </div>
     <% end %>
  <%# else %>
  <%# end %>
   </div>
  </div>
</div>
<div class = "row">
  <div class = "col-md-offset-5 col-md-3">
     <div class = "private">
      <%= link_to "プライバシーポリシー", "/privacy" %>
     </div> 
  </div>
</div>
