<div class = "container">
  <div class = "row">
    <h4>観戦イベント一覧<h4>
    <div class = "col-md12 text-center">
      <%= link_to new_watching_path do %>
        <p class = "watching-create">作成する</p>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <% @watchings.each do |watching|%>
    <div class = "col-md-3">
      <div class = "meeting-list">
        <td>球場<br><%= watching.ballpark %></td><br>
        <td>観戦試合<br><%= watching.game %></td><br>
        <td>締め切り<br><%= watching.dead_line.strftime('%Y年 %m月 %d日 %H時 %M分') %></td><br>
        <td>最大人数<br><%= watching.member %></td><br>
        <td>タイトル<br><%= watching.title %></td><br>
        <td>メッセージ<br><%= watching.message %></td><br>
        <%= link_to "詳しく見る", watching_path(id: watching.id) %>
      </div>
    </div>
    <% end %>
  </div>
</div>