<div class = "container">
  <div class = "row">
    <div class = "col-md-2">
      <div class = "user-planner">
      <p>企画ユーザー情報</p>
      <%= @watching.user.name %>
      </div>
    </div>
    <div class = "col-md-5 col-md-offset-1">
      <div class = "watch-desc">
        <td>球場<br><%= @watching.ballpark %></td><br>
         <td>観戦試合<br><%= @watching.game %></td><br>
         <td>締め切り<br><%= @watching.dead_line.strftime('%Y年 %m月 %d日 %H時 %M分') %></td><br>
         <td>最大人数<br><%= @watching.member %></td><br>
         <td>タイトル<br><%= @watching.title %></td><br>
         <td>メッセージ<br><%= @watching.message %></td><br>
        </div>
      </div>
      <div class = "col-md-4">
        <div class = "application-member">
          <p>参加ユーザー一覧</p>
          <% @watching.watch_paticipates.each do |watch_paticipate| %>
            <% if watch_paticipate.allowed %>
              <%= image_tag watch_paticipate.user.image.to_s %>
              <%= watch_paticipate.user.name %><br>
            <% else %>
              <%= image_tag watch_paticipate.user.image.to_s %>
              <%= watch_paticipate.user.name %>
              <a>申請中</a>
              <% if current_user.id == @watching.user_id %>
                <%= link_to watch_paticipate_path(id: watch_paticipate.id), method: :patch do %>
                  <div class = "btn btn-primary">承認</div>
                <% end %>
                
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
   </div>
  
  <div class = "row">
    <div class = "col-md-3 col-md-offset-4">
      <div class = "watch-submit">
        <% if @watching.user.id != current_user.id && @watching.watch_paticipates.count < @watching.member %>
          <%= form_with model: @watch_paticipate, url: watch_paticipates_path do |form| %>
          <%= form.hidden_field :watching_id, value: params[:id] %>
          <%= form.submit "申請する", class: "btn-block btn-white" %>
          <% end %>
        <% elsif @watching.watch_paticipates.count == @watching.member %>
          <p>現在募集を締め切っています</p>
        <% elsif @wathing.user.id == current_user.id %>
         <p>申請中ユーザーを確認して承認しよう！</p>
        <% elsif @watching.user.id == current_user.id &&  @meeting.watch_paticipates.count == @watching.member %>
          <p>チャットで早速話してみよう</p>
        <% end %>
      </div>
    </div>
  </div>
</div>