<div class = "container">
  <div class = "row">
    <div class = "col-md-7 col-md-offset-2">
      <div class = "watch-desc">
        <td>球場<br><%= @watching.ballpark %></td><br>
         <td>観戦試合<br><%= @watching.game %></td><br>
         <td>締め切り<br><%= @watching.dead_line %></td><br>
         <td>最大人数<br><%= @watching.member %></td><br>
         <td>タイトル<br><%= @watching.title %></td><br>
         <td>メッセージ<br><%= @watching.message %></td><br>
        </div>
      </div>
  </div>
</div>