<div class = "container">
  <div class = "row">
    <div class = "col-md-2 text-center">
      <p>企画ユーザー</p>
      <div class = "user-planner">
      <%= image_tag @watching.user.image.thumb.url %><br>
      <%= @watching.user.name %>
      </div>
    </div>
    <div class = "col-md-5 col-md-offset-1">
      <div class = "watch-desc">
        <td>球場<br><%= @watching.ballpark %></td><br>
         <td>観戦試合<br><%= @watching.game %></td><br>
         <td>締め切り<br><%= @watching.dead_line.strftime('%Y年 %m月 %d日 %H時 %M分') %></td><br>
         <td>最大人数<br><%= @watching.member %></td><br>
         <td>タイトル<br><%= @watching.title %></td><br>
         <td>メッセージ<br><%= @watching.message %></td><br>
        </div>
      </div>
      <div class = "col-md-4 text-left">
        <p class = "member-title text-center">参加ユーザー一覧</p>
        <div class = "application-member">
          <% @watching.watch_paticipates.each do |watch_paticipate| %>
            <% if watch_paticipate.allowed %>
              <%= image_tag watch_paticipate.user.image.thumb.url %>
              <%= watch_paticipate.user.name %>
            <% else %>
              <%= image_tag watch_paticipate.user.image.thumb.url %>
              <%= watch_paticipate.user.name %>
              <span>申請中<span>
              <% if current_user.id == @watching.user_id %>
                <%= link_to watch_paticipate_path(id: watch_paticipate.id), method: :patch do %>
                  <span class = "btn btn-primary">承認</span><br>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
   </div>
  
  <div class = "row">
    <div class = "col-md-3 col-md-offset-4">
      <div class = "watch-submit">
        <% @participate = false %>
        <% @watching.watch_paticipates.each do |watch_paticipate| %>
          <% if watch_paticipate.user_id.to_i == current_user.id %>
            <% @participate = true %>
          <% end %>
        <% end %>
        <% if @participate %>
        <% elsif @watching.user.id != current_user.id && @watching.watch_paticipates.count < @watching.member %>
          <%= form_with model: @watch_paticipate, url: watch_paticipates_path do |form| %>
            <%= form.hidden_field :watching_id, value: params[:id] %>
            <%= form.submit "申請する", class: "btn-block btn-white" %>
          <% end %>
        <% elsif @watching.user.id != current_user.id && @watching.watch_paticipates.count == @watching.member %>
          <p>現在募集を締め切っています</p>
        <% elsif @wathing.user.id == current_user.id && @watching.watch_paticipates.count < @watching.member %>
          <p>申請中ユーザーを確認して承認しよう！</p>
        <% elsif @watching.user.id != current_user.id && @watching.watch_paticipates.count < @watching.member %>
          <p>現在申請中です。承認されるまでお待ち下さい</p>
        <% elsif @watching.user.id == current_user.id &&  @watching.watch_paticipates.count == @watching.member %>
          <p>募集完了です。<br>チャットで話しかけてみよう</p>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2 text-center">
      <div class = "chat-room">
        <% if @watching.user.id == current_user.id || @watch_paticipates == current_user.id %>
        <h4><%= @watching.user.name %>のチャット部屋</h4>
        <p>チャットで会話しよう</p>
        <div class = "meet_message">
          <%= form_with model: @watchingmessages, url:  watching_watchingmessages_path(@watching), local: true do |form| %>
            <%= form.text_area :message, class: "form-control" %>
             <%= form.submit "送信", class: "meet-button" %>
          <% end %>
        </div>
       </div>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col-md-6 col-md-offset-2">
      <% @watching.watchingmessages.each do |message| %>
      <div class = "message-author">
        <%= image_tag message.user.image.thumb.url %>
        <%= message.user.name %>
      </div>
      <div class = "message-all" >
        <%= message.message %>
      </div>
      <% end %>
    </div>
    <% else %>
    <% end %>
  </div>
</div>