<div class = "container">
  <div class = "row">
    <div class = "col-md-7 col-md-offset-2">
      <div class = "watch-desc">
        <td>球場<br><%= @watching.ballpark %></td><br>
         <td>観戦試合<br><%= @watching.game %></td><br>
         <td>締め切り<br><%= @watching.dead_line %></td><br>
         <td>最大人数<br><%= @watching.member %></td><br>
         <td>タイトル<br><%= @watching.title %></td><br>
         <td>メッセージ<br><%= @watching.message %></td><br>
        </div>
      </div>
  </div>
  
  <div class = "row">
    <div class = "col-md-3 col-md-offset-4">
      <div class = "watch-submit">
        <% unless @watching.watch_paticipates_users.include?(current_user) %>
          <%= form_with model: @watch_paticipate, url: watch_paticipates_path do |form| %>
          <%= form.hidden_field :watching_id, value: params[:id] %>
          <%= form.submit "申請する", class: "btn-block btn-white" %>
          <% end %>
        <% else %>
          <p>参加申請中です。しばらくお待ち下さい</p>
        <% end %>
      </div>
    </div>
  </div>
</div>