<%= render "contents" %>


<div class = "conttainer">
 <div class = "row">
  <div class = "col-md-offset-7 col-md-4">
   <div class = "post-create">
    <%= form_with model: @post do |form| %>
    <%= form.hidden_field :team_id, value: params[:team_id]%>
    <div class="form-group">
     <%= form.label :title, "タイトル" %>
     <%= form.text_field :title, class: "form-control"%>
    </div>
    <div class="form-group">
     <%= form.label :description, "内容" %>
     <%= form.text_area :description, class: "form-control"%>
    </div>
    <div class="form-group">
     <%= form.submit "トピック追加", class: "btn-block btn-white" %>
    </div>
    <% end %>
   </div>
  </div>
 </div>
</div>

